<ion-view title="Rooms" ng-init="list()">
  <ion-nav-buttons side="right">
    <button class="right button button-icon icon ion-plus" ng-click="create()"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">
      <div ng-repeat="user in data">
        <div ng-repeat="room in user.rooms" class="item item-button-right room">
          {{room.title}}
          <button class="button button-positive" ng-click="enterRoom(room.uid)">
            <i class="icon icon ion-headphone"></i>
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>